/* xl  */
@media (max-width:1399px) {
    .containar {
        max-width: 1140px;
    }

 
}

/* lg */
@media (max-width:1199px) {
    .containar {
        max-width: 960px;
    }

}

/* md */
@media (max-width: 991px) {
    .containar {
        width: 720px;
    }

       main .containar{
        width: 100% !important;
    }

    footer{
        width: 100% !important;
    }
    .col-md-12 {
        width: 100%;
    }


    .col-md-4 {
        width: 33.33%;
    }

    .col-md-6 {
        width: 50%;
    }

    /* main */

    main .main-info {
        text-align: center;
    }

    /* reservation */

    .reservation .reservation-video {
        height: 500px;
    }

    /* members */



    /* header */
    header {
        background-color: var(--black--);
        padding: 5px;
    }

    header nav {
        display: none !important;
    }

    header .menu-icon {
        display: block !important;
    }

    /* servies */
    .service .containar {
        max-width: 720px;
    }



    /* client-review */

    .client-review .review .review-card-item {
        justify-content: center;
    }



}

/* sm */
@media (max-width:767px) {
    .containar {
        width: 540px;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* xs */
@media (max-width:575px) {
    .containar {
        width: 100%;
    }

    .col-xs-12 {
        width: 100%;
    }

    /* service */
    .service-item {
        width: 50%;
        justify-content: center;

    }

    /* footer */

    footer .tittle {
        padding-bottom: 18px;
    }

}